body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #F8F9FC;
    color: #575757;
    margin: 5%;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

img {
    width: 100%;
    max-width: 640px;
    display: block;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1 {
    text-align: center;
    color: #303030;
    padding: 15px
}

h2 {
    color: #165B69;
    padding-top: 15px;
}

h3 {
    color: #303030
}

a {
    color: #165B69;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#img-div {
    width: 100%;
    max-width: 640px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate( -50%, 0)
}

#img-caption {
    background-color: #165B69;
    color: #F8F9FC;
    padding: 1%;
    margin-top: 0;
    font-size: 14px;
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 34px;
        padding: 20px
	}

	h2 {
        font-size: 26px;
        padding-top: 20px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 17px;
	}
}

@media only screen and (min-width: 889px) {
    #tribute-info {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1024px) {

	h1 {
        font-size: 38px;
        padding: 25px
	}

	h2 {
        font-size: 28px;
        padding-top: 25px;
	}

	h3 {
		font-size: 21px;
	}

	p {
		font-size: 18px;
	}
}